 /** 
Title: gopin-bobs-auto-repair.css
Author: Zahava Gopin
Date: 4 February 2023
Description: css styling for web 330
*/

 #cart-message{
    float: left;
    color: #df546a;
    font-size: 12px;
    letter-spacing: 2px;
 }

 i:hover{
    cursor: pointer;
 }